body{
    background: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif !important;
}

.vs-code-window{
    width: 700px;
    height: 700px;
    position: relative;
    left:150px;
    top:120px;
    background-color: #1E1E1E;
}

.vs-code-header{
    background: #3C3C3C;
    padding:5px;
    color: #CCCCCC;
}

li{
    display: inline-block;
    zoom:1;
    display:inline;
    padding-right: 8px;
}
ul{
    padding: 0 0 0 5;  
    margin:0;
}

.vs-code-logo{
    width:20px;
    height: 20px;
}

.vs-code-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    color:white;
    background: #007ACC;
    padding-left: 15px;
}

.windows{
    float: right;
    padding:0;
}
.windows img{
    height: 25px;
}